@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", Roboto, sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
.header {
	display: flex;
	width: 100%;
	background: #f2eeea;
}
.header__left {
	display: flex;
	justify-content: center;
	width: 100%;
}
.header__left img {
	width: 200px;
	height: 80px;
	padding-left: 100px;
}
.header__right {
	display: flex;
	align-items: center;
}
.right {
	cursor: pointer;
}
.left,
.right {
	padding: 10px;
	color: #82be8e;
	font-size: 15px;
	cursor: pointer;
}
.main {
}
.banner {
	width: 100%;
	background: url("./assets/banner.png");
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: cover;
	position: relative;
	height: auto;
	display: block;
}
.overlay__banner {
	width: 100%;
	overflow: hidden;
}
.overlay__banner svg {
	width: 110%;
	height: 100%;
	object-fit: cover;
	position: relative;
	top: 10px;
}
.underBanner {
	width: 100%;
	height: 100vh;
	background-color: #82be8e;
	align-items: center;
}
.underBanner__background {
	width: 100%;
	float: left;
}

.underBanner__background svg {
	padding-left: 100px;
	position: absolute;
}
.underBanner__overLay {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 150px;
}
.overLay__left {
	color: #fff;
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 50px;
}
.overLay__left p {
	font-size: 21px;
}
.overLay__left h4 {
	letter-spacing: 2px;
	font-size: 40px;
	font-weight: 300;
	margin: 0;
}
.overLay__right {
	width: 50%;
	display: flex;
	justify-content: center;
}
.overLay__right img {
	width: 400px;
	height: 308px;
	object-fit: cover;
}

.footer {
	display: flex;
	width: 100%;
	background-color: #f2eeea;
}
.footer__left {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
}
.footer__left img {
	width: 180px;
	height: 80px;
}

.footer__right {
	display: flex;
	width: 50%;
	justify-content: space-around;
	align-items: center;
	color: #82be8e;
}

.footer__right p {
	cursor: pointer;
}

.aboveFooter {
	width: 100%;
	height: 100vh;
	background-color: #82be8e;
	color: #fff;
	display: flex;
	align-items: center;
}

.aboveFooter__left {
	width: 50%;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.aboveFooter__left h4 {
	font-size: 40px;
	letter-spacing: 2px;
	font-weight: 300;
	margin: 0;
	word-spacing: 3px;
}

.aboveFooter__left p {
	font-size: 21px;
	font-weight: 300;
}

.aboveFooter__right {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
.aboveFooter__right img {
	width: 80%;
	height: auto;
}

.midSection {
	height: 1450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: url("./assets/background.png");
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: cover;
	overflow: hidden;
	position: relative;
}
.midSection > .up {
	width: 120%;
	/* height: fit-content; */
	transform: translateY(-120px);
	position: absolute;
	top: 0;
}
.midSection > .bottom {
	width: 120%;
	/* height: fit-content; */
	position: absolute;
	bottom: 0;
	transform: translateY(20px);
}
.section1,
.section2,
.section3 {
	width: 100%;
	height: 400px;
	display: flex;
}
.section1_left,
.section1_right,
.section2_left,
.section2_right,
.section3_left,
.section3_right {
	width: 50%;
	display: flex;
}
.section1_right,
.section2_left,
.section3_right {
	display: flex;
	align-items: center;
	padding: 20px;
}
.section2_right,
.section1_left,
.section3_left {
	display: flex;
	justify-content: center;
}
.section1_left img,
.section3_left img,
.section2_right img {
	transition: all 0.3s;
}
.section1_left img:hover,
.section3_left img:hover {
	transform: rotate(-45deg);
}
.section2_right img:hover {
	transform: rotate(45deg);
}
.toggle {
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: flex-end;
	overflow-x: clip;
	position: absolute;
	z-index: 1;
}
.menu {
	color: #fff;
	z-index: 1;
	padding-right: 20px;
	opacity: 0;
	display: none;
	transition: all 0.7s;
	position: fixed;
}
.menu p a {
	color: #fff;
	text-decoration: none;
}
.toggle i {
	color: #fff;
	transform: translateY(-50px);
	z-index: 1;
	opacity: 0;
	display: none;
	position: fixed;
	padding-right: 100px;
	transition: all 0.7s;
	cursor: pointer;
}

#toggleImage {
	width: 0px;
	height: 700px;
	transform: translate(95px, -200px);
	transition: all 0.7s;
	position: fixed;
}

@media (min-width: 1300px) {
	.banner {
		height: auto;
	}
}
